In [10]:
import numpy as np
import pandas as pd

# Uvoz in priprava podatkov

## PRIMER 1

### 1. Read csv file into a pandas dataframe

In [11]:
with open('data/DATA_DN_property data.csv') as f:
    f.read()

### 2. Take a look at the first 5 rows

In [9]:
five = pd.read_csv('data/DATA_DN_property data.csv')
five.head()

           PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS  NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3       1.0  1000
1  100002000.0   197.0  LEXINGTON            N            3       1.5    --
2  100003000.0     NaN  LEXINGTON            N          NaN       1.0   850
3  100004000.0   201.0   BERKELEY           12            1       NaN   700
4          NaN   203.0   BERKELEY            Y            3       2.0  1600

### 3. Select and print the ST_NUM column

In [13]:
st_name = five.loc[:,"ST_NAME"]
st_name.head()

0       PUTNAM
1    LEXINGTON
2    LEXINGTON
3     BERKELEY
4     BERKELEY
Name: ST_NAME, dtype: object

### 4. Standard Missing Values: Check the misssing values in ST_NUM column with isnull() method

In [14]:
st_name.isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
Name: ST_NAME, dtype: bool

### 5. Non-Standard Missing Values: Pandas didn't recognized the "--" and "na" as a missing value. in the NUM_BEDROOMS column. Try to detect these various missing values with the na_values parameter when importing the data with read_csv.

In [30]:
five = pd.read_csv('data/DATA_DN_property data.csv')
num_bedrooms = five.loc[:,"NUM_BEDROOMS"]
num_bedrooms.fillna(0)
num_bedrooms.loc[7,8] = 0
print(num_bedrooms.fillna(0))

0    3
1    3
2    0
3    1
4    3
5    0
6    2
7    0
8    0
Name: NUM_BEDROOMS, dtype: object

### 6. Unexpected Missing Values

For example, if our feature is expected to be a string, but there’s a numeric type, then technically this is also a missing value.

#### Display the OWN_OCCUPIED column and it's missing values with isnull()

In [8]:
# rešitev

In [9]:
# rešitev

In the fourth row, there’s the number 12. The response for Owner Occupied should clearly be a string (Y or N), so this numeric type should be a missing value.

#### Write a loop to detect int values in the OWN_OCCUPIED column and count them

In [10]:
# rešitev

### 7. Print the total number of missing values for each column.

In [11]:
# rešitev

### 8. Check to see if we have any missing values in the df at all in one line.

Hint: `.any()` method

In [12]:
#rešitev

### 9. Total count of missing values.

In [13]:
#rešitev

### 10. Replace missing values with a number 125 in the ST_NUM column

In [14]:
# rešitev

###  11. Replace missing values with a median value in the NUM_BEDROOMS column

In [16]:
# rešitev