In [35]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Web Scraping

- **Spletna stran:** https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population
- **Tabela:** Sovereign states and dependencies by population

### Naloga

Tabelo na zgornji strani pretvorite v urejen pandas dataframe, ki vsebuje naslednje stolpce (pozor na ustrezen tip in index):
- Rank: (Index) - int
- Country name: - object
- Population - int
- Date - Datetime
- % of world population - int

In [36]:
#url = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'
#r = requests.get(url)
#r

tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population')
len(tables)

2

In [37]:
banks = tables[0]

In [38]:
banks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
Rank                               240 non-null object
Country(or dependent territory)    240 non-null object
Population                         240 non-null int64
Date                               240 non-null object
% of worldpopulation               240 non-null object
Source                             240 non-null object
dtypes: int64(1), object(5)
memory usage: 11.3+ KB

In [39]:
banks.head()

,Rank,Country(or dependent territory),Population,Date,% of worldpopulation,Source
0,1,China[Note 2],1397630000,"June 4, 2019",18.1%,Official population clock
1,2,India[Note 3],1348050000,"June 4, 2019",17.5%,Official population clock
2,3,United States[Note 4],329317000,"June 4, 2019",4.27%,Official population clock
3,4,Indonesia,268074600,"July 1, 2019",3.48%,Official annual projection
4,5,Brazil,209994000,"June 4, 2019",2.72%,Official population clock

In [40]:
list = ['Source']
banks.drop(list, axis=1, inplace=True)
banks.head()

,Rank,Country(or dependent territory),Population,Date,% of worldpopulation
0,1,China[Note 2],1397630000,"June 4, 2019",18.1%
1,2,India[Note 3],1348050000,"June 4, 2019",17.5%
2,3,United States[Note 4],329317000,"June 4, 2019",4.27%
3,4,Indonesia,268074600,"July 1, 2019",3.48%
4,5,Brazil,209994000,"June 4, 2019",2.72%

In [41]:
pd.to_datetime(banks['Date']).head()

0   2019-06-04
1   2019-06-04
2   2019-06-04
3   2019-07-01
4   2019-06-04
Name: Date, dtype: datetime64[ns]

In [42]:
df = pd.DataFrame(banks,columns = ['Rank', 'Country(or dependent territory)',
                         'Population','Date','% of worldpopulation'])
df.head()

dr = df.rename(index=str, columns={"Country(or dependent territory)": "Country name"}).head()

In [43]:
blankIndex=[''] * len(dr)
dr.index=blankIndex
print(dr.head())

 Rank           Country name  Population          Date % of worldpopulation
    1          China[Note 2]  1397630000  June 4, 2019                18.1%
    2          India[Note 3]  1348050000  June 4, 2019                17.5%
    3  United States[Note 4]   329317000  June 4, 2019                4.27%
    4              Indonesia   268074600  July 1, 2019                3.48%
    5                 Brazil   209994000  June 4, 2019                2.72%